/* Bootstrap overrides */

.jumbotron {
  background: linear-gradient(to bottom right, rgba(128, 128, 128, 0.75), rgba(128, 128, 128, 0.5));
  color: white;
  max-width: 600px;
  min-width: 400px;
  margin: auto;
  padding-top: 10px;
}

/* Template overrides */

.full {
  background: url("../images/brickwall.jpg") no-repeat center center fixed;
  background-size: 140% 100%;
}

/* Custom */

.title-block {
  margin-bottom: 25px;
}

.title {
  font-weight: 200;
  font-size: 3em !important;
  margin-bottom: 10px;
}

.subtitle {
  margin-top: 5px;
  font-weight: 200;
  font-size: 2em;
}

html {
  min-height:100%;
  position:relative;
}

body {
  font-family: "Helvetica Neue", "Verdana", "Arial", sans-serif;
  color: #333;
  font-weight: 200;
  font-size: 1em;
  height:100%; 
}

.word {
  font-size: 2.5em;
  color: #333;
  display: inline;
  background: url('../seamless_paper_texture/seamless_paper_texture.png');
  padding: 2px;
  margin: 2px;
  cursor: default;
}

.popover {
  color: #333;
  max-width: none;
}

.popover-content {
  color: #333;
  padding: 10px;
}

.word.key {
  cursor: pointer;
}

.line {
  width: 400px;
  text-align: left;
  margin: auto;
  padding-top: 5px;
}

.stanza {
  margin-bottom: 20px;
}
