/* Bootstrap overrides */

.jumbotron {
  background: linear-gradient(to bottom right, rgba(128, 128, 128, 0.75), rgba(128, 128, 128, 0.5));
  color: white;
}

/* Template overrides */

.full {
  background: url("../images/brickwall.jpg") no-repeat center center fixed;
}

/* Custom */

html {
  min-height:100%;
  position:relative;
}

body {
  font-family: "Helvetica Neue", "Verdana", "Arial", sans-serif;
  color: #333;
  font-weight: 200;
  font-size: 16px;
  height:100%; 
}

.word {
  font-size: 20px;
  color: #333;
  display: inline;
  background: url('../seamless_paper_texture/seamless_paper_texture.png');
  padding: 2px;
  margin: 2px;
  cursor: default;
}

.popover {
  color: #333;
}

.popover-content {
  color: #333;
  padding: 10px;
}

.word.key {
  cursor: pointer;
}

.line {
  width: 400px;
  text-align: left;
  margin: auto;
  padding-top: 5px;
}

.stanza {
  margin-bottom: 20px;
}
