/* Bootstrap overrides */

.jumbotron {
  background: linear-gradient(to bottom right, rgba(128, 128, 128, 0.75), rgba(128, 128, 128, 0.5));
  color: white;
}

/* Template overrides */

.full {
  background: url("../images/brickwall.jpg") no-repeat center center fixed;
}

/* Custom */

.body {
  font-family: "Helvetica Neue Light", "Verdana", "Arial", sans-serif;
  font-weight: 200;
  font-size: 16px;
}

.word {
  font-size: 20px;
  font-weight: 200;
  color: #333;
  display: inline;
  background: url('../seamless_paper_texture/seamless_paper_texture.png');
  padding: 2px;
  margin: 2px;
}

.line {
  width: 400px;
  text-align: left;
  margin: auto;
  padding-top: 5px;
}

.stanza {
  margin-bottom: 20px;
}
